<div class='container'>
  <div class='card'>
    <!-- <div class='card-header'>
      <div class='user'>
        <img class='avatar circled-image' src={{this.src}}>
        <div class='info'>
          <div class='name sbold'>craftcoffee</div>
          <div class='location'>Melbourne, Australia</div>
        </div>
      </div>
      <div class='action'>
        <span class='ion-more'></span>
      </div>
    </div> -->
    <div class='card-body'>
      <img src={{this.src}} style="height: 200px;">
      <i class="fas fa-chevron-right fa-2x" (click)="next_pic()" style="z-index: 2; position: absolute; color: #d9d9c6; top: 125px; right: 20px;"></i>
      <i class="fas fas fa-chevron-left fa-2x" (click)="next_pic()" style="z-index: 2; position: absolute; color: #d9d9c6; top: 125px; left: 20px;"></i>
      <p style="font-family: sans-serif;font-weight: bold;margin:0;">{{header}}</p>
      <!-- <p>Start your day right by stopping over at Craft Coffee and try our new Cafe Macchiato.</p> -->
    </div>
    <div class='card-footer'>
        <i class="far fa-images"></i>
        <i class="far fa-heart" [ngClass]="{'liked': liked}" (click)="likeClick()"></i>
        <i class="fas fa-heart" [ngClass]="{'liked': !liked}" (click)="likeClick()" style="color: red"></i>
        <i class="fas fa-heart-broken" [ngClass]="{'disliked': disliked}" (click)="dislikeClick()"></i>
    </div>
  </div>
</div>