<!-- <kendo-dialog title="צור חשבון חדש" style="direction: rtl;" *ngIf="userDetailsOpen" (close)="closeForm()" [minWidth]="250" [width]="450"> -->
<div class='container'>
  <div class='card'>
    <div class='card-body'>
      <img src={{this.src}}>
      <i class="fas fa-chevron-right fa-2x" (click)="next_pic()" style="z-index: 2; position: absolute; color: #d9d9c6; top: 150px; right: 20px;"></i>
      <i class="fas fas fa-chevron-left fa-2x" (click)="next_pic()" style="z-index: 2; position: absolute; color: #d9d9c6; top: 150px; left: 20px;"></i>
      <div class="rightt" dir="rtl" style="width: 30%; margin-right: 30px;">  
        <p><b>חניה: </b>2 חניות מקורות</p>
        <p><b>ממד: </b>קיים</p>
        <p><b>מחסן: </b>אין</p>
        <p><b>נגישות לנכים: </b>יש</p>
      </div>  
      <div class="rightt" dir="rtl" style="width: 30%; margin-right: 30px;">  
        <p><b>מעלית: </b>קיים</p>
        <p><b>מ"ר: </b>65</p>
        <p><b>מיזוג אויר: </b>קיים</p>
        <p><b>מרפסת: </b>12 מ"ר</p>
      </div>
      <div dir="rtl" style="width: 30%;">  
        <p><b>איזור: </b>{{address}}</p>
        <p><b>קומה: </b>4</p>
        <p><b>מס' חדרים: </b>5</p>
        <p><b>סוג הנכס: </b>דירה בבניין</p>
      </div>
      <!-- <p style="font-family: sans-serif;font-weight: bold;margin: 0;" dir="rtl">{{header}}</p> -->
    </div>
    <div class='card-footer'>
        <div>שנת בניה: 2014</div>
        <i class="far fa-heart" [ngClass]="{'liked': liked}" (click)="likeClick()"></i>
        <i class="fas fa-heart" [ngClass]="{'liked': !liked}" (click)="likeClick()" style="color: red"></i>
        <i class="fas fa-heart-broken" [ngClass]="{'disliked': disliked}" (click)="dislikeClick()"></i>
    </div>
  </div>
</div>
<!-- </kendo-dialog> -->