<app-navigate-bar class="navigation-panel"></app-navigate-bar>
<span class="search-container"><app-search></app-search></span>
<app-main-panel class="main-panel"></app-main-panel>

<div class="contents flex-container" style="display: inline-flex;">
<!-- <app-details [header]=header [picNum]=1 style="width: 70%; height: 50%;"></app-details> -->

<div *ngFor="let header of contentsHeaders;let i = index" >

<app-content [header]=header [picNum]=i></app-content>
</div>
</div>

<!-- <div class="form-container">
    <app-sign-in-form></app-sign-in-form>
</div> -->