/* .input{
    border-radius: 30px;
    width: 143%;
    height: 47px;
    outline: none;
    border: none;
    background-color: #bbdcf3;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    padding-right: 9px;
    font-family: rubik;
} */

.search-btn{
    border-radius: 30px;
    border: none;
    background-color: #018489;
    z-index: 2;
    width: 61px;
    height: 29px;
    font-size: 19px;
    padding-bottom: -4px;
    top: 3px;
    position: absolute;
    margin-left: 3px;
    outline: none;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 23vw;
}

.autocomplete-container{
    height: 57% !important;
    font-family: sans-serif;
    top: 8%;
    left: 1px;
}

.autocomplete{
    height: 155%;
    width: 160%;
    border-radius: 25px;
    background-color: white;
    font-family: sans-serif;
    padding-right: 22px;
}