.input{
    border-radius: 30px;
    width: 143%;
    height: 47px;
    outline: none;
    border: none;
    /* background-color: #bbdcf3; */
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    padding-right: 9px;
    /* font-family: rubik; */
}

.search-btn{
    border-radius: 30px;
    border: none;
    background-color: #018489;
    z-index: 2000000000;
    width: 61px;
    height: 37px;
    font-size: 19px;
    padding-bottom: -4px;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
    outline: none;
    color: white;
}