.navigate-row{
    height: 100%;
    /* background: linear-gradient(to top right, #5487b957 0%, #f2f2f200 100%); */
    background-color: #74a79b;
    overflow: hidden;
    display: flex;
    direction: rtl;
}

.usr-btn{
    height: 33px;
    width: 33px;
    background-color: transparent;
    border: none;
    outline: none;
}

.usr-container{
    display: flex;
    margin-top: 2vh;
    margin-right: -2vh;
     /* margin-right: -7vh; */
    /* font-weight: bold;  */
}

.links{
    left: 20px;
    align-self: center;
    /* background-color: ivory; */
    font-size: 45px;
    flex: auto;
    direction: ltr;
}

.fab{
    margin: 10px;
}